.profile__avatar {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  margin-right: 30px;
  object-fit: cover;
  position: relative;
}

@media (max-width: 730px) {
  .profile__avatar  {
    margin-right: 0;
  }
}

