.profile__profession {
  font-size: 18px;
  line-height: 1.22;
  padding: 9px 0 0 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  transition: opacity 0.125s ease-in;
}

@media (max-width: 730px) {
  .profile__profession {
    font-size: 14px;
    line-height: 1.21;
    max-width: 250px;
    padding: 0;
  }
}
