@import url(./__container/page__container.css);

.page {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  height: 100%;
}
